[Unit]
Description=Coni Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/coin/build/release/bin/coind --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc
Restart=always
User=daemon

[Install]
WantedBy=multi-user.target
